
$darkblue: mix(#283d72, #000, 80%) !default;

$darkblue: #222849;
$darkblue2: #0e1432;
$darkblue2rgba: rgba(14, 20, 2, 0.8);
$darkblue3: #070d2d;
$darkestblue: #020724;
$lightblue: #60d4ff;
$red: #d64343;
$pink: #d02185;
$cyan: #00cbcb;
$yellow: #c6d23d;
$blue: #4773d0;
$green: green;
$violet: violet;
$orange: orange;
$darkertext: #8e90a2;
$darktext: #54596f;
$gray: #bdbfc7;

$permaPlayerHeight: 100px;
