
$darkblue: mix(#283d72, #000, 80%) !default;
$lightblue: #60d4ff;
$red: #d64343;
$pink: #d02185;
$cyan: #00cbcb;
$yellow: #c6d23d;
$blue: #4773d0;
$green: green;
$violet: violet;
$orange: orange;
$darkertext: #8e90a2;
$darktext: #54596f;
